DATABASE_URL=
CRON_SECRET=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
ADMIN_EMAIL=
ALERTA_PUSH_ENDPOINT=
ALERTA_PUSH_P256DH=
ALERTA_PUSH_AUTH=
